* {
  font-family: "Cabin", sans-serif;
}
li {
  list-style: circle;
  text-align: justify;
}
body {
  background-color: aquamarine;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#padre {
  width: 100%;
  flex-direction: column;
  align-items: center;
  display: none, flex;
}
#conclusionfinal {
  width: 100%;
  flex-direction: column;
  align-items: center;
  display: none, flex;
  -ms-flex-align: center;
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  flex-direction: row;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  padding: 1vh;
  min-width: 50%;
  max-width: 50%;
  text-align: center;
}
#boton {
  width: fit-content;
  align-self: center;
}

footer {
  min-width: 50%;
  margin: 1%;
  text-align: end;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
